<!DOCTYPE HTML>
<!-- Disclaimer : this is old code from wordpress -->
<html dir="ltr" lang="fr-FR">
<head>
<meta charset="UTF-8">
<title>THEC Talks | {{page.title}}</title>
<link rel="stylesheet" media="all" href="/css/style.css" />
<link rel="shortcut icon" href="/favicon.png"/>

  <script type="text/javascript">//<![CDATA[
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount','UA-24187208-1']);
  _gaq.push(['_trackPageview'],['_trackPageLoadTime']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  //]]></script>

<link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css' /><link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css' />
<style type="text/css" media="screen">
 #tagline { font-family: 'Permanent Marker', 'Helvetica Neue', arial, serif; }#talker { font-family: 'Bevan', 'Helvetica Neue', arial, serif; }
</style>

<style type="text/css">
body { background-color: #EFEFEF; }
</style>
<style>#site-name,#site-name a,#tagline{color:#777}</style></head>

<body class="home page page-id-2 page-template page-template-default singular">

<div id="wrap">
  <div id="header">

<div id="logo"><img src="/images/header.png" width="700" height="100" alt="THEC Talks"></div>
<div id="tagline">Technology insights for HEC students</div>  </div>

  <div id="menu-top" class="menu-menu-header-container"><ul id="menu-menu-header" class="menu"><li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-42"><a href="/">Welcome</a></li>
<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a title="The Secure Network" href="/the-secure-network-by-david-metge.html">#1 Network Security</a></li>
<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a title="Your reputation is CRRAP" href="/your-reputation-is-crrap-by-margaux-pelen.html">#2 E-reputation</a></li>
<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a title="Inside the App Store" href="/inside-the-app-store-by-nicolas-mondollot.html">#3 App Store</a></li>
<li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a title="The cheapest way to promote your product on Facebook" href="/the-cheapest-way-to-promote-your-product-on-facebook-by-charles-bezard.html">#4 Facebook ads</a></li>
<li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a title="Web for all" href="/web-for-all-by-pauline-derrien.html">#5 Web accessibility</a></li>
<li id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a title="Cloudy with a chance of computing" href="/cloudy-with-a-chance-of-computing-by-pierre-elie-fauche.html">#6 Cloud computing</a></li>
<li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a title="Pimp My Slide" href="/pimp-my-slide-by-emiland-de-cubber.html">#7 Presentation design</a></li>
<li id="menu-item-146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146"><a href="/about.html">About</a></li>
</ul></div>
  <div id="page" role="document">
<div id="content">

{{ content }}

<!--entry-content--><div class="entry-meta">
<p>Posted on <a class="datetime" href="/" title="Permanent link to this post">25 juin 2011 at 16 h 10 min</a></p></div><!--meta-->
</div><!--entry-->


</div><!--content-->

<div class="clear"></div>


</div><!-- #page -->


</div><!-- wrap -->

<div id="menu-bottom" class="menu-menu-footer-container"><ul id="menu-menu-footer" class="menu" role="navigation"><li id="menu-item-87" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-87"><a href="http://vimeo.com/thectalks/videos">Find us on Vimeo</a></li>
<li id="menu-item-88" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-88"><a href="http://www.slideshare.net/event/thec-talks-1/slideshows">Find us on Slideshare</a></li>
<li id="menu-item-89" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89"><a href="http://www.pearltrees.com/t/thec-talks-05-23-2011/id2816746">Find us on Pearltrees</a></li>
<li id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148"><a href="/about.html">About</a></li>
</ul></div>
<!--[if IE 8]>
<script>
var imgs, i, w;
var imgs = document.getElementsByTagName( 'img' );
for( i = 0; i < imgs.length; i++ ) {
  w = imgs[i].getAttribute( 'width' );
  if ( 615 < w ) {
    imgs[i].removeAttribute( 'width' );
    imgs[i].removeAttribute( 'height' );
  }
}
</script>
<![endif]-->
</body>
</html>

